numpy==1.21.0
torch==1.7.1
torchvision==0.8.2
yacs==0.1.8
einops==0.3.0
opencv-python==4.5.3.56
pylsd-nova==1.2.0
tqdm==4.64.0
scipy==1.8.1
termcolor==1.1.0
shapely==1.8.2
imageio==2.19.2
open3d==0.15.2
gdown==4.4.0
gradio==3.0.5